.c2a {
  background-image: url(../../../images/contact-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0;
  position: relative;
}

.c2a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(58, 66, 86, 0.92); */
  background-color: rgba(0, 0, 0, 0.788);
}

.c2a-content .section-title {
  text-align: left;
  margin-bottom: 30px;
}

.c2a-content .section-title h3 {
  color: #fff;
}

.c2a-content p {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 500;
}

.c2a-img {
  position: absolute;
  left: 30px;
  bottom: -90px;
  width: 360px;
}