a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}



.button {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}


.main-btn,
.main-btn-sm {
  padding: 16px 30px;
  /* background: linear-gradient(to right, #19D3AE, #0FCFEC); */
  background-color: #fc5296;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  color: #fff;
}

.main-btn-sm {
  padding: 11px 30px;
}

.main-btn:hover,
.main-btn-sm:hover {
  background-image: linear-gradient(15deg, #f83c87 0%, #f35e4d 74%);
  color: #fff;
}


.icon-btn {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
  color: #fff;
  text-align: center;
  font-size: 17px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section-title {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

.section-title h5 {
  font-size: 22px;
  /* color: #6ACECE; */
  color: #f67062;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title h3 {
  color: #203047;
  font-size: 45px;
  font-weight: 600;
}

.error {
  color: #f35e4d;
}

.theme-text {
  color: #f67062;
}